@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.nav-container {
  box-shadow: inset 0px -1px 0px #e0e0e0;
}

.ver-line {
  border-left: 1.5px solid #e0e0e0;
}

.ellipsis-2line {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 1024px) {
  .hide-md {
    display: none;
  }

  .mobile-carousel {
    box-sizing: content-box;
    display: flex;
    flex: none;
    scroll-snap-align: start;
  }
}
